node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
ios
# index.js
# metro.config.js
android

.env

.idea

*.app
*.tar.gz

pc-api-5943361654184696953-337-e9f0b3beb944.json