node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
ios
index.js
metro.config.js
android

.env

.idea

# output from eas build -p ios --local --profile preview looks something like build-1677141338643.tar.gz
build-[0-9]*.tar.gz

# double-clicking the above tar archive creates CODEConnect.app, which can be dragged into the simulator to install
*.app